<%- include("header"); -%>
    <div class="box" id="heading">
        <h1 style="color: purple"><%= listEJSListTitle %></h1>
    </div>

    <div class="box">
        <% for (listItem of listEJSToDoItems) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= listItem.action %></p>
            </div>
        <% } %>

        <form class="item" action=<%= listEJSRoutePath %> method="post">
            <input type="text" name="toDoItem" placeholder="Add new plan">
            <button type="submit">+</button>
        </form>
    </div>
<%- include("footer"); -%>