<%- include("header"); -%>
    <div class="box" id="heading">
        <h1 style="color: purple"><%= listEJSListTitle %></h1>
    </div>

    <div class="box">
        <% for (listItem of listEJSToDoItems) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onchange="this.form.submit()" name="checkbox" value="<%= listItem._id %>">
                    <p><%= listItem.action %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listEJSCollectionName %>">
            </form>
        <% } %>

        <form class="item" action=<%= listEJSRoutePath %> method="post">
            <input type="text" name="toDoItem" placeholder="Add new plan">
            <button type="submit">+</button>
        </form>
    </div>
<%- include("footer"); -%>